<div class="mt-5">
    <h4>ĐĂNG KHÓA HỌC</h4>
    <form method="POST" action="/courses/store">
    <div class="form-group">
        <label for="name">New's course</label>
        <input type="text" name="name" class="form-control" id="name"  placeholder="Nhập từ khóa...">
    </div>   
       <div class="form-group">
        <label for="description">Description</label>
        <input type="text" name="description" class="form-control" id="description"  placeholder="Nhập từ khóa...">
    </div>   
       <div class="form-group">
        <label for="videoID">VideoID</label>
        <input type="text" name="videoID" class="form-control" id="videoID"  placeholder="Nhập từ khóa...">
    </div>  
    <div class="form-group">
        <label for="level">Level</label>
        <input type="text" name="level" class="form-control" id="level"  placeholder="Nhập từ khóa...">
    </div>   
    <button type="submit" class="btn btn-primary">Them khoa hoc</button>
    </form>
</div> 

